{% extends "messengers/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'messenger/css/landing.css' %}">
{% endblock stylesheet %}
{% block logo %}{% endblock logo %}
{% block access %}{% endblock access %}
{% block content %}
<div class="landing">
    <div class="page_1">
        <div class="intro">
            <div class="inner">
                <div class="bg_logo">
                    <img src="{% static 'messenger/images/ferochat_logo3.png' %}" alt="logo">
                </div>
                <div class="head">
                    <div id="A1">
                        <p>Welcome to </p>
                        <img src="{% static 'messenger/images/ferochat1.png' %}" alt="logo_name">
                    </div>
                    <p class="p_space"> We're thrilled to have you here. Say hello to a whole new way of staying
                        connected with your
                        loved
                        ones,
                        friends, and colleagues.</p>

                </div>
                {% if user.is_authenticated %}
                <div class="make">
                    <p>Explore and make new <a href="{% url 'messengers:users' %}">friends</a></p>
                </div>

                {% else %}

                <div class="buttons">
                    <button>
                        <a href="{% url 'users:login' %}">Log In</a>
                    </button>
                    <button>
                        <a href="{% url 'users:sign_up' %}"> Sign Up</a>
                    </button>
                </div>

                {% endif %}
            </div>
            <div class="model">
                <model-viewer style="width: 700px; height: 700px;" src="{% static 'messenger/models/model3.glb' %}"
                    alt="VR Headset" auto-rotate camera-controls ar rotation-per-second="500%" auto-rotate-delay="100"
                    ios-src="{% static 'messenger/Earth.glb' %}"></model-viewer>
            </div>

        </div>
    </div>

    <div class="page">
        <div class="earth">
            <h2>We bring the world to your fingertips</h2>
            <model-viewer style="width: 300px; height: 300px;" src="{% static 'messenger/models/Earth.glb' %}"
                alt="VR Headset" auto-rotate camera-controls ar rotation-per-second="300%" auto-rotate-delay="600"
                ios-src="{% static 'messenger/Earth.glb' %}"></model-viewer>
        </div>
        <div class="about">
            <div class="card">
                <div class="picture">
                    <img src="{% static 'messenger/images/connect.jpg' %}" alt="Connect">
                </div>
                <h3> Connectivity </h3>
                <p class="p_space">With FeroChat, you can send text messages, voice messages, photos and even videos
                    with just a few
                    taps. Stay connected in real-time, no matter where you are, and never miss a moment with our
                    intuitive and user-friendly interface.</p>
            </div>
            <div class="card">
                <img src="{% static 'messenger/images/security.jpg' %}" alt="Security">
                <div class="picture"></div>
                <h3>Privacy and security</h3>
                <p class="p_space">Your privacy and security are our top priorities. We've implemented state-of-the-art
                    encryption and
                    security features to protect your conversations and ensure that your personal information remains
                    safe and secure. Chat with peace of mind, knowing that your privacy is respected and safeguarded.
                </p>
            </div>
            <div class="card">
                <img src="{% static 'messenger/images/community.png' %}" alt="Community">
                <div class="picture"></div>
                <h3>Join our community</h3>
                <p class="p_space">Join our vibrant community of users worldwide who are already enjoying the benefits
                    of FeroChat. Use
                    our app now and experience a whole new level of communication.</p>
            </div>
        </div>
    </div>
</div>
<script type="module" src="{% static 'messenger/js/model-viewer.min.js' %}"></script>
<script>
    const drop = () => {
        let navbar = document.getElementsByTagName('nav')[0]
        if (window.scrollY > 200) {
            navbar.setAttribute('style', 'background-color: rgba(0,0,0,0.7);backdrop-filter:blur(5px);')
        } else {
            navbar.setAttribute('style', 'background-color: rgba(0,0,0,0);backdrop-filter:blur(0px);')
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('scroll', drop)
    })

    document.addEventListener("DOMContentLoaded", set_timezone);
</script>
{% endblock content %}