{% extends "messengers/base.html" %}
{% load tz %}

{% block content %}
<div class="landing">
    <div class="head">Welcome to FeroChat!</div>
    <div class="pri_content">
        <p>
            We're thrilled to have you here. Say hello to a whole new way of staying connected with your loved ones,
            friends, and colleagues. FeroChat is designed with simplicity, security, and convenience in mind, making it
            easier than ever to send messages, share moments, and stay in touch with those who matter most.
        </p>
    </div>
    <div class="sec_content">
        With FeroChat, you can send text messages, voice messages, photos and even videos with just a few taps. Stay
        connected in real-time, no matter where you are, and never miss a moment with our
        intuitive and user-friendly interface.

        Your privacy and security are our top priorities. We've implemented state-of-the-art encryption and security
        features to protect your conversations and ensure that your personal information remains safe and secure. Chat
        with peace of mind, knowing that your privacy is respected and safeguarded.

        Join our vibrant community of users worldwide who are already enjoying the benefits of FeroChat. Use our app now
        and experience a whole new level of communication. Welcome to FeroChat, where staying
        connected has never been easier or more enjoyable.

        Let's get started and create meaningful connections with FeroChat today! Welcome aboard!
    </div>
</div>
{% endblock content %}