{% extends "messengers/base.html" %}
{% load filters %}
{% block content %}
<h2>Messages</h2>
<ul>
    {% for use_r in friends %}
    <li><a href="{% url 'messengers:view_messages' use_r.id %}">{{use_r.username}}</a></li>
    <p>
        {{user|la_st:use_r|last|default:"Feel free to send a message"|truncatechars:50}}
    </p>
    {% empty %}
    <p>
        Make friends in the <a href="{% url 'messengers:users' %}">People</a> section, and be able to share messages
        with them.
    </p>
    {% endfor %}
</ul>
{% endblock content %}