{% extends 'messengers/base.html' %}

{% block content %}
<h2><a href="{% url 'messengers:user_bio' rec_id %}">{{rec_user.username}}</a></h2>
<ul>
    {% for msg in all_messages %}
    {% if msg.sender == user %}
    <p>{{msg.date_added|date:'P'}}</p>
    <li>sent:{{msg.text|linebreaks}}</li>
    {% else %}
    <p>{{msg.date_added|date:'P'}}</p>
    <li>received:{{msg.text|linebreaks}}</li>
    {% endif %}
    {% empty %}
    <li>No messages</li>
    {% endfor %}
</ul>



<form action="{% url 'messengers:view_messages' rec_id  %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Send</button>
    <input type="hidden" name="next" value="{% url 'messengers:view_messages' rec_id  %}">
</form>

{% endblock content %}